version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/repo
    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx512m
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "build.gradle" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: gradle dependencies

      - save_cache:
          paths:
            - ~/.gradle
            - ~/.ossindex
          key: v1-dependencies-{{ checksum "build.gradle" }}
     
      # run audit!
      - run: gradle audit 
     
      # run build!
      - run: gradle build -x test
      
      # run tests!
      - run: gradle test
      
    # SONAR
      - run:
          name:  sonar check (add integration and unit test)
          command: |
                  ./gradlew sonarqube -Dsonar.organization=anasoid  -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$sonar_login -Dsonar.branch.name=$CIRCLE_BRANCH  -Dsonar.jacoco.reportPaths=build/jacoco/test.exec,build/jacoco/integrationTest_server.exec -Dsonar.junit.reportPaths=build/test-results/integrationTest,build/test-results/test

       # save tests!
      - run:
          name: Save test results 
          command: |
            mkdir -p ~/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/junit/ \;
          when: always
      - store_test_results:
          path: ~/junit
      - store_artifacts:
          path: ~/junit   

workflows:
  version: 2
  build:
    jobs:
      - build